<footer class="footer" id="contact">
  <div class="container">
    <div class="footer__row">
      <div class="footer__logo">
        <img src="img/logo_footer.svg" alt="">
      </div>
      <div class="footer__right">
        <div class="footer__item">
          <div>
            <div class="footer__title">
              Company
            </div>
            <ul class="footer__menu">
              <li class="footer__menu-item"><a href="" class="footer__link">About us</a></li>
              <li class="footer__menu-item"><a href="" class="footer__link">Products</a></li>
              <li class="footer__menu-item"><a href="" class="footer__link">Locations</a></li>
              <li class="footer__menu-item"><a href="" class="footer__link">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="footer__item">
          <div>
            <div class="footer__title">
              Legal
            </div>
            <ul class="footer__menu">
              <li class="footer__menu-item"><a href="" class="footer__link">Terms & conditions</a></li>
              <li class="footer__menu-item"><a href="" class="footer__link">Privacy Policy</a></li>

            </ul>
          </div>
        </div>
        <div class="footer__item footer__item--contacts">
          <div>
            <div class="footer__title">
              Contacts
            </div>
            <ul class="footer__menu">
              <li class="footer__menu-item">
                <span class="footer__link">
                  <svg class="">
                    <use xlink:href="img/sprite.svg#location"></use>
                  </svg>
                  Limpopo, Seshego, 239 Nelson Mandela Drive
                </span>
              </li>
              <li class="footer__menu-item">
                <a href="tel: +270834696989" class="footer__link">
                  <svg class="">
                    <use xlink:href="img/sprite.svg#phone"></use>
                  </svg>
                  +27 083 46 96 989
                </a>
              </li>
              <li class="footer__menu-item">
                <a href="tel: +270837242162" class="footer__link">
                  <svg class="">
                    <use xlink:href="img/sprite.svg#phone"></use>
                  </svg>
                  +27 083 72 42 162
                </a>
              </li>
            </ul>
          </div>

          <div class="social footer__social">
            <ul class="social__row">
              <li class="social__item"><a href="#" class="social__link">
                <svg class="">
                  <use xlink:href="img/sprite.svg#facebook"></use>
                </svg>
              </a></li>
              <li class="social__item"><a href="#" class="social__link">
                <svg class="">
                  <use xlink:href="img/sprite.svg#inst"></use>
                </svg>
              </a></li>
              <li class="social__item"><a href="#" class="social__link">
                <svg class="">
                  <use xlink:href="img/sprite.svg#twitter"></use>
                </svg>
              </a></li>
              <li class="social__item"><a href="#" class="social__link">
                <svg class="">
                  <use xlink:href="img/sprite.svg#teleg"></use>
                </svg>
              </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="modal micromodal-slide" id="callback" aria-hidden="true">
	<div class="modal__overlay" tabindex="-1" data-micromodal-close>
		<div class="application modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <button class="modal__close" aria-label="Close modal" data-micromodal-close>
        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.17296 1.17296C-0.390987 2.73691 -0.390987 5.27251 1.17296 6.83646L6.8365 12.5L1.17301 18.1635C-0.390938 19.7274 -0.390938 22.2631 1.17301 23.827C2.73691 25.3909 5.27256 25.3909 6.8365 23.827L12.5 18.1635L18.1635 23.827C19.7274 25.3909 22.2631 25.3909 23.827 23.827C25.3909 22.2631 25.3909 19.7274 23.827 18.1635L18.1635 12.5L23.827 6.83651C25.391 5.27256 25.391 2.73691 23.827 1.17296C22.2631 -0.390987 19.7275 -0.390987 18.1635 1.17296L12.5 6.83646L6.8365 1.17296C5.27256 -0.390987 2.73691 -0.390987 1.17296 1.17296Z" fill="#EA79ED" />
        </svg>
      </button>

      <form action="#" class="application__form">
        <div class="application__page js-active" data-page="1">
          <div class="application__pretitle">
            <div>Use of Unregistred Medicines</div>
            <div>Section 21 Application Form</div>
          </div>
          <div class="application__title">
            Informed consent form
          </div>
          <div class="application__text">
            <div class="application-input application-input--w27">
              <div class="application-input__req">
                <svg class="">
                  <use xlink:href="img/sprite.svg#req"></use>
                </svg>
              </div>
              <input type="text" name="name" class="application-input__elem application-input__elem--req" placeholder="Name">
            </div>
            voluntarily agree to be treated with a medication, namely medical in South Africa, by Dr Tupy and Synergy Wellness for
            <div class="application-input application-input--w48">
              <div class="application-input__req">
                <svg class="">
                  <use xlink:href="img/sprite.svg#req"></use>
                </svg>
              </div>
              <input type="text" name="for" class="application-input__elem application-input__elem--req" placeholder="">
            </div>
            I confirm that I have been fully informed and my questions answered by Dr Marian Tupy about my disease / condition (for which a section 21 application is being made), its cause, severity, prognosis, available registered treatment options in South Africa and the reasons for the current state of my illness and the unregistered medication and application to use a medication that is not registered in S.A., and that:
            <ul>
              <li>the medication is not registered in South Africa, and that this implies that the quality, effectiveness and safety of this medication have not been verified by the South African Health Products Regulatory Authority «SAHPRA»</li>
              <li>the medication will only be supplied to, and used by and on me once specific approval has been obtained from «SAHPRA»</li>
              <li>appropriate measures will be taken to prevent, monitor and manage the unwanted effects on me of the</li>
              <li>Dr Tupy will comply with all regulations of SAHPRA, laws (S.A. and foreign) and conditions of approval of use of this unregistered medication/device and accordingly ensure continued availability and supply of the medication</li>
              <li>use of the unregistered medication on and by me is for managing my disease and not for medical research</li>
              <li>any information collected by Dr Marian Tupy, his/her employer, successor or any other person other than SAHPRA or its legal representative, may be used for research purposes upon receipt of specific written separate informed consent from me, my guardian or person responsible for my affairs after my death</li>
              <li>I will be free to stop using the medication at any time and that wil inform my (treating) doctor accordingly.</li>
            </ul>

          </div>
          <div class="application-bottom">
            <div class="application-bottom__items application-bottom__items--flex">
              <div class="application-bottom__item application-bottom__item--w60">
                <label class="application-bottom__label">
                  Full Names of Patient / Guardian:
                </label>
                <div class="application-input application-input--w100">
                  <div class="application-input__req">
                    <svg class="">
                      <use xlink:href="img/sprite.svg#req"></use>
                    </svg>
                  </div>
                  <input type="text" name="fullName" class="application-input__elem application-input__elem--req" placeholder="">
                </div>
              </div>
              <div class="application-bottom__item application-bottom__item--w40">
                <label class="application-bottom__label">
                  Signature of Patient / Guardian:
                </label>
               <div class="application-bottom__right application-bottom__right--column-reverse">
                <button type="button" class="application__sing-button" data-micromodal-trigger="sign">
                  <svg class="">
                    <use xlink:href="img/sprite.svg#sign"></use>
                  </svg>
                  Sign here
                </button>
                 <div class="application-bottom__date"> <b>  Date:</b> Apr 14, 2024</div>
               </div>
              </div>
            </div>
            <div class="application-bottom__items application-bottom__items--mob">
              <div class="application-bottom__item application-bottom__item--row-beetwen">
                <label class="application-bottom__label">Name of Doctor (Specialist):</label>
                <div class="application-bottom__info">Dr Marian Tupy</div>
              </div>

              <div class="application-bottom__item">
                 <div class="application-bottom__label">Signature of Doctor:</div>
                 <div class="application-bottom__dots application-bottom__dots--w60"></div>
              </div>
              <div class="application-bottom__item">
                 <div class="application-bottom__label">Date:</div>
                 <div class="application-bottom__dots application-bottom__dots--w60"></div>
              </div>
            </div>
            <div class="application-bottom__items application-bottom__items--mob">


              <div class="application-bottom__item">
                 <div class="application-bottom__label">Signature of Witness:</div>
                 <div class="application-bottom__dots application-bottom__dots--w60"></div>
              </div>
              <div class="application-bottom__item">
                 <div class="application-bottom__label">Date:</div>
                 <div class="application-bottom__dots application-bottom__dots--w60"></div>
              </div>
            </div>
            <div class="application-bottom__items application-bottom__items--hide-mob">
              <div class="application-bottom__item application-bottom__item--row-beetwen">
                <label class="application-bottom__label">Name of Doctor (Specialist):</label>
                <div class="application-bottom__info">Dr Marian Tupy</div>
              </div>
              <div class="application-bottom__item">
                <label class="application-bottom__label">Signature of Doctor:</label>
                <div class="application-bottom__right">
                  <div class="application-bottom__dots application-bottom__dots--w60"></div>
                  <span>Date:</span>
                  <div class="application-bottom__dots application-bottom__dots--w40"></div>
                </div>
              </div>

            </div>
            <div class="application-bottom__items application-bottom__items--hide-mob">
              <div class="application-bottom__item">
                <label class="application-bottom__label">Name of Witness:</label>
                <div class="application-bottom__right">
                  <div class="application-bottom__dots application-bottom__dots--w100"></div>
                </div>
              </div>
              <div class="application-bottom__item">
                <label class="application-bottom__label">Signature of Witness:</label>
                <div class="application-bottom__right">
                  <div class="application-bottom__dots application-bottom__dots--w60"></div>
                  <span>Date:</span>
                  <div class="application-bottom__dots application-bottom__dots--w40"></div>
                </div>
              </div>

            </div>

          </div>
          <div class="application__page-bottom">
            <button class="application__button application__button--bordered" data-micromodal-close>Cancel</button>
            <button class="application__button application__button--pink" type="button" data-step-to-button="2">
              step 2/2
              <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L6 6L1 11" stroke="white" stroke-width="2" stroke-linecap="round"/>
                </svg>

            </button>
          </div>

        </div>
        <div class="application__page" data-page="2">
          <div class="application__title application__title--center">
            PATIENT APPLICATION FOR THE THERAPEUTIC
            USE OF CANNABIS
          </div>
          <div class="application__undetitle-row">
            <div class="application__undetitle-left">
              <label class="checkbox">
                <input type="checkbox" name="...nitial Application">
                <span class="checkbox__wrap">
                  <span class="checkbox__icon"></span>
                  ...nitial Application
                </span>
              </label>
              <label class="checkbox">
                <input type="checkbox" name="Renewal Application ">
                <span class="checkbox__wrap">
                  <span class="checkbox__icon"></span>
                  Renewal Application (or expired/lapsed)
                </span>
              </label>
            </div>
            <div class="application__allert application__allert--w60">
              Offline Instructions: Complete both pages of this form. Ploase ensure it is saved as a POF and uploaded when you book your online consultation <br> <a href="https://synergywellness.co.za/clinic">(https://synergywellness.co.za/clinic)</a>
            </div>
          </div>
          <div class="application__text">
            <p>
            <b>  Note to Applicant:</b> You will have the opportunity to review your information with a specialist before your official application is submitted to the South
              African Health Products Flegulatory Authonty and ask any queatione that you may have about your ailment, locally avallable treatmente and unregiatered medicines that have not yet been approved for registration in South Africa.
            </p>
            <p>
              We encourage all prospective patients to consult with their family GP when applying for medical cannabis treatments. If you would like to discuss your appication with your Doctor, please set up an appointment with them and take thie for along.
            </p>
          </div>
          <div class="application__synergy">
            <label class="application__synergy-label">Pleuse enter your Synergy Wellness Application Pack number:</label>
            <div class="application-input">
              <input type="text" name="Synergy Wellness" class="application-input__elem" placeholder="420DOCTOR202302">
            </div>
          </div>
          <div class="application__patient">
            <div class="application__title application__title--center">
              PATIENT information
            </div>
            <div class="application__row">
              <div class="application__item-container application__item-container--w25">
                  <div class="application__item">
                    <label class="application__item-label">Title</label>
                    <select name="" id="name">
                      <option value="Select title">Title here</option>
                      <option value="Select title">Title here</option>
                      <option value="Select title">Title here</option>
                      <option value="Select title">Title here</option>
                      <option value="Select title">Title here</option>
                      <option value="Select title">Title here</option>
                    </select>
                  </div>
              </div>
              <div class="application__item-container application__item-container--w25">
                <div class="application__item">
                  <label class="application__item-label">First name</label>
                  <div class="application-input">
                    <div class="application-input__req">
                      <svg class="">
                        <use xlink:href="img/sprite.svg#req"></use>
                      </svg>
                    </div>
                    <input type="text" name="first name" required class="application-input__elem application-input__elem--req" placeholder="Name">
                  </div>
                </div>
              </div>
              <div class="application__item-container application__item-container--w25">
                <div class="application__item">
                  <label class="application__item-label">Last name</label>
                  <div class="application-input">
                    <div class="application-input__req">
                      <svg class="">
                        <use xlink:href="img/sprite.svg#req"></use>
                      </svg>
                    </div>
                    <input type="text" name="last name" required class="application-input__elem application-input__elem--req" placeholder="Name">
                  </div>
                </div>
              </div>
              <div class="application__item-container application__item-container--w25">
                <div class="application__item">
                  <label class="application__item-label"> Middle name</label>
                  <div class="application-input">

                    <input type="text" name="last name" class="application-input__elem" placeholder="Name">
                  </div>
                </div>
              </div>
              <div class="application__item-container application__item-container--w25">
                <div class="application__item">
                  <label class="application__item-label">Date of birth</label>
                  <div class="application-input">
                    <div class="application-input__req">
                      <svg class="">
                        <use xlink:href="img/sprite.svg#req"></use>
                      </svg>
                    </div>
                    <input  type="text" name="Date of birth" required class="application-input__elem application-input__elem--req" placeholder="Date of birth">
                  </div>
                </div>
              </div>
              <div class="application__item-container application__item-container--w16">
                <div class="application__item">
                  <label class="application__item-label">Age (years)</label>
                  <div class="application-input">
                    <div class="application-input__req">
                      <svg class="">
                        <use xlink:href="img/sprite.svg#req"></use>
                      </svg>
                    </div>
                    <input  type="text" name="Age" required class="application-input__elem application-input__elem--req" placeholder="Age">
                  </div>
                </div>
              </div>
              <div class="application__item-container application__item-container--w16">
                <div class="application__item">
                  <label class="application__item-label">Weight (kg)</label>
                  <div class="application-input">
                    <div class="application-input__req">
                      <svg class="">
                        <use xlink:href="img/sprite.svg#req"></use>
                      </svg>
                    </div>
                    <input  type="text" name="Weight" required class="application-input__elem application-input__elem--req" placeholder="Weight">
                  </div>
                </div>
              </div>
              <div class="application__item-container application__item-container--w20">
                <div class="application__item">
                  <label class="application__item-label">Height (meters)</label>
                  <div class="application-input">
                    <div class="application-input__req">
                      <svg class="">
                        <use xlink:href="img/sprite.svg#req"></use>
                      </svg>
                    </div>
                    <input  type="text" name="Height" required class="application-input__elem application-input__elem--req" placeholder="Weight">
                  </div>
                </div>
              </div>

              <div class="application__item-container application__item-container--w25 application__item-container--mob-100">
                <div class="application__item">
                  <label class="application__item-label">Genger</label>
                  <select name="" id="genger">
                    <option value="">test</option>
                    <option value="">test</option>
                  </select>
                </div>
              </div>
              <div class="application__item-container application__item-container--w25">
                <div class="application__item">
                  <label class="application__item-label">Phone Number</label>
                  <div class="application-input">
                    <div class="application-input__req">
                      <svg class="">
                        <use xlink:href="img/sprite.svg#req"></use>
                      </svg>
                    </div>
                    <input  type="number" name="phone" required class="application-input__elem application-input__elem--req" placeholder="+27 083 33 33 333">
                  </div>
                </div>
              </div>
              <div class="application__item-container application__item-container--w25">
                <div class="application__item">
                  <label class="application__item-label">E-Mail</label>
                  <div class="application-input">
                    <div class="application-input__req">
                      <svg class="">
                        <use xlink:href="img/sprite.svg#req"></use>
                      </svg>
                    </div>
                    <input  type="email" name="email" required class="application-input__elem application-input__elem--req" placeholder="Example@example.com">
                  </div>
                </div>
              </div>
              <div class="application__item-container application__item-container--w50 application__item-container--mob-100">
                <div class="application__item">
                  <label class="application__item-label">Occupation</label>
                  <div class="application-input">
                    <div class="application-input__req">
                      <svg class="">
                        <use xlink:href="img/sprite.svg#req"></use>
                      </svg>
                    </div>
                    <input  type="text" name="occupation" required class="application-input__elem application-input__elem--req" placeholder="Software Engineer, Network Administrator etc.">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="application__patient">
            <div class="application__subtitle">
              Mailing addrees
            </div>
            <div class="application__row">
              <div class="application__item-container application__item-container--w25">
                <div class="application__item">
                  <label class="application__item-label">City</label>
                  <div class="application-input">
                    <div class="application-input__req">
                      <svg class="">
                        <use xlink:href="img/sprite.svg#req"></use>
                      </svg>
                    </div>
                    <input type="text" name="city" required class="application-input__elem application-input__elem--req" placeholder="City">
                  </div>
                </div>
              </div>
              <div class="application__item-container application__item-container--w25">
                <div class="application__item">
                  <label class="application__item-label">Street</label>
                  <div class="application-input">
                    <div class="application-input__req">
                      <svg class="">
                        <use xlink:href="img/sprite.svg#req"></use>
                      </svg>
                    </div>
                    <input type="text" name="street" required class="application-input__elem application-input__elem--req" placeholder="Street">
                  </div>
                </div>
              </div>
              <div class="application__item-container application__item-container--w50 application__item-container--mob-last">
                <div class="application__item">
                  <label class="application__item-label">P.O. Box / Aparment number</label>
                  <div class="application-input">
                    <div class="application-input__req">
                      <svg class="">
                        <use xlink:href="img/sprite.svg#req"></use>
                      </svg>
                    </div>
                    <input type="text" name="P.O. Box / Aparment number" required class="application-input__elem application-input__elem--req" placeholder="P.O. Box / Aparment number">
                  </div>
                </div>
              </div>
              <div class="application__item-container application__item-container--w25">
                <div class="application__item">
                  <label class="application__item-label">Provinance</label>
                  <div class="application-input">
                    <div class="application-input__req">
                      <svg class="">
                        <use xlink:href="img/sprite.svg#req"></use>
                      </svg>
                    </div>
                    <input type="text" name="Provinance" required class="application-input__elem application-input__elem--req" placeholder="Provinance">
                  </div>
                </div>
              </div>
              <div class="application__item-container application__item-container--w25">
                <div class="application__item">
                  <label class="application__item-label">Postal code</label>
                  <div class="application-input">
                    <div class="application-input__req">
                      <svg class="">
                        <use xlink:href="img/sprite.svg#req"></use>
                      </svg>
                    </div>
                    <input type="text" name="Postal code" required class="application-input__elem application-input__elem--req" placeholder="Postal code">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="application__patient">
            <div class="application__subtitle">
              Physical addrees
            </div>
            <div class="application__row">
              <div class="application__item-container application__item-container--w25">
                <div class="application__item">
                  <label class="application__item-label">City</label>
                  <div class="application-input">

                    <input type="text" name="city"  class="application-input__elem" placeholder="City">
                  </div>
                </div>
              </div>
              <div class="application__item-container application__item-container--w25">
                <div class="application__item">
                  <label class="application__item-label">Street</label>
                  <div class="application-input">

                    <input type="text" name="street" required class="application-input__elem" placeholder="Street">
                  </div>
                </div>
              </div>
              <div class="application__item-container application__item-container--w50 application__item-container--mob-last">
                <div class="application__item">
                  <label class="application__item-label">P.O. Box / Aparment number</label>
                  <div class="application-input">

                    <input type="text" name="P.O. Box / Aparment number"  class="application-input__elem" placeholder="P.O. Box / Aparment number">
                  </div>
                </div>
              </div>
              <div class="application__item-container application__item-container--w25">
                <div class="application__item">
                  <label class="application__item-label">Provinance</label>
                  <div class="application-input">

                    <input type="text" name="Provinance" class="application-input__elem" placeholder="Provinance">
                  </div>
                </div>
              </div>
              <div class="application__item-container application__item-container--w25">
                <div class="application__item">
                  <label class="application__item-label">Postal code</label>
                  <div class="application-input">

                    <input type="text" name="Postal code"  class="application-input__elem" placeholder="Postal code">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="application__patient">
            <div class="application__title application__title--center">
              Medical provider information
            </div>
            <p class="application__desc">
              Provide information about the medical provider who completed your Written Certification (if applicable)
            </p>
            <div class="application__subtitle">
              Name
            </div>
            <div class="application__row">
              <div class="application__item-container application__item-container--w100">
                <div class="application__item">
                  <label class="application__item-label">Medical Aid Provider</label>
                  <div class="application-input">
                    <input type="text" name="Medical Aid Provider" class="application-input__elem" placeholder="Name">
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="application__patient">
            <div class="application__subtitle">
              Business address
            </div>
            <div class="application__row">
              <div class="application__item-container application__item-container--w100">
                <div class="application__item">
                  <label class="application__item-label">Street / Suite number</label>
                  <div class="application-input">
                    <div class="application-input__req">
                      <svg class="">
                        <use xlink:href="img/sprite.svg#req"></use>
                      </svg>
                    </div>
                    <input type="text" required name="Street / Suite number"  class="application-input__elem application-input__elem--req" placeholder="Street / Suite number">
                  </div>
                </div>
              </div>
              <div class="application__item-container application__item-container--w25">
                <div class="application__item">
                  <label class="application__item-label">Phone Number</label>
                  <div class="application-input">

                    <input type="text" name="Phone Number"  class="application-input__elem" placeholder="Phone Number">
                  </div>
                </div>
              </div>
              <div class="application__item-container application__item-container--w25">
                <div class="application__item">
                  <label class="application__item-label">City</label>
                  <div class="application-input">

                    <input type="text" name="City"  class="application-input__elem" placeholder="City">
                  </div>
                </div>
              </div>
              <div class="application__item-container application__item-container--w25">
                <div class="application__item">
                  <label class="application__item-label">Provinance</label>
                  <div class="application-input">

                    <input type="text" name="Provinance"  class="application-input__elem" placeholder="Provinance">
                  </div>
                </div>
              </div>
              <div class="application__item-container application__item-container--w25">
                <div class="application__item">
                  <label class="application__item-label">Postal code</label>
                  <div class="application-input">

                    <input type="text" name="Postal code"  class="application-input__elem" placeholder="7100–7299">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="application__medical">
            <div class="application__title application__title--center">
              Medical information release
            </div>
            <div class="application__allert">
              I, hereby, authorize the release of relevant medical information by the provider listed above to SAHPRA if additional information about my qualifying medical condition or Written Certification is required.
            </div>
            <div class="application-bottom">
              <div class="application-bottom__item application-bottom__item--between application-bottom--mob-row">
                <label class="application-bottom__label">
                  Applicant's Signature:
                </label>
               <div class="application-bottom__right application-bottom__right--w-auto">
                <button type="button" data-micromodal-trigger="sign" class="application__sing-button">
                  <svg class="">
                    <use xlink:href="img/sprite.svg#sign"></use>
                  </svg>
                  Sign here
                </button>
                 <div class="application-bottom__date"> <b>  Date:</b> Apr 14, 2024</div>
               </div>
              </div>
            </div>

          </div>
          <div class="application__checkboxes">
            <div class="application__title application__title--center">
              ALTERNATIVE TREATMENT CENTER (Referring Agent)
            </div>
            <div class="application__checkboxes-grid">
              <div class="application__checkboxes-cointainer">
                   <label class="checkbox">
                <input type="checkbox" name="...nitial Application">
                <span class="checkbox__wrap">
                  <span class="checkbox__icon"></span>
                  ...nitial Application
                </span>
              </label>
              </div>
              <div class="application__checkboxes-cointainer">
                   <label class="checkbox">
                <input type="checkbox" name="...nitial Application">
                <span class="checkbox__wrap">
                  <span class="checkbox__icon"></span>
                  ...nitial Application
                </span>
              </label>
              </div>
              <div class="application__checkboxes-cointainer">
                   <label class="checkbox">
                <input type="checkbox" name="...nitial Application">
                <span class="checkbox__wrap">
                  <span class="checkbox__icon"></span>
                  ...nitial Application
                </span>
              </label>
              </div>
              <div class="application__checkboxes-cointainer">
                   <label class="checkbox">
                <input type="checkbox" name="...nitial Application">
                <span class="checkbox__wrap">
                  <span class="checkbox__icon"></span>
                  ...nitial Application
                </span>
              </label>
              </div>
              <div class="application__checkboxes-cointainer">
                   <label class="checkbox">
                <input type="checkbox" name="...nitial Application">
                <span class="checkbox__wrap">
                  <span class="checkbox__icon"></span>
                  ...nitial Application
                </span>
              </label>
              </div>
              <div class="application__checkboxes-cointainer">
                   <label class="checkbox">
                <input type="checkbox" name="...nitial Application">
                <span class="checkbox__wrap">
                  <span class="checkbox__icon"></span>
                  ...nitial Application
                </span>
              </label>
              </div>

              <div class="application__checkboxes-cointainer">
                <label class="checkbox">
                  <input type="checkbox" name="...nitial Application">
                  <span class="checkbox__wrap">
                    <span class="checkbox__icon"></span>
                   Other
                  </span>
                </label>
                <div class="application__item">

                  <div class="application-input">
                    <input type="text" name="Medical other" class="application-input__elem" placeholder="Name">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="application__page-bottom">
            <button class="application__button application__button--bordered" data-micromodal-close>Cancel</button>
            <button class="application__button application__button--pink" data-micromodal-close data-succes-confim>
              Confirm


            </button>
          </div>


        </div>

      </form>




		</div>
	</div>
</div>
<div class="modal micromodal-slide" id="sign" aria-hidden="true">
  <div class="modal__overlay">
    <div class="application modal__container" role="dialog">
      <button class="modal__close" aria-label="Close modal" data-micromodal-close>
        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.17296 1.17296C-0.390987 2.73691 -0.390987 5.27251 1.17296 6.83646L6.8365 12.5L1.17301 18.1635C-0.390938 19.7274 -0.390938 22.2631 1.17301 23.827C2.73691 25.3909 5.27256 25.3909 6.8365 23.827L12.5 18.1635L18.1635 23.827C19.7274 25.3909 22.2631 25.3909 23.827 23.827C25.3909 22.2631 25.3909 19.7274 23.827 18.1635L18.1635 12.5L23.827 6.83651C25.391 5.27256 25.391 2.73691 23.827 1.17296C22.2631 -0.390987 19.7275 -0.390987 18.1635 1.17296L12.5 6.83646L6.8365 1.17296C5.27256 -0.390987 2.73691 -0.390987 1.17296 1.17296Z" fill="#EA79ED" />
        </svg>
      </button>
      <div class="application__title">
        Sign here
      </div>
      <div class="application-textarea application__item">
        <textarea name="sign" placeholder="your sign" class="application-textarea__elem"></textarea>
      </div>
      <div class="application__item">
        <label class="application__item-label">Your Name</label>
        <div class="application-input application-input--w100">
          <div class="application-input__req">
            <svg class="">
              <use xlink:href="img/sprite.svg#req"></use>
            </svg>
          </div>
          <input type="text" name="sign name" required="" class="application-input__elem application-input__elem--req" placeholder="Name">
        </div>
      </div>
      <div class="application__page-bottom">
        <button class="application__button application__button--pink" data-micromodal-close data-add-sign>
          Confirm


        </button>
        <button class="application__button application__button--bordered" data-micromodal-close>Cancel</button>

      </div>
    </div>
  </div>
</div>

<div class="modal micromodal-slide" id="login" aria-hidden="true">
  <div class="modal__overlay">
    <div class="login-form modal__container" role="dialog" aria-modal="true">
      <button class="modal__close" aria-label="Close modal" data-micromodal-close>
        <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.82982 1.82982C-0.60994 4.26959 -0.60994 8.22512 1.82982 10.6649L10.6649 19.5L1.8299 28.3351C-0.609864 30.7749 -0.609864 34.7305 1.8299 37.1702C4.26958 39.6099 8.22519 39.6099 10.6649 37.1702L19.5001 28.3352L28.3351 37.1702C30.7748 39.6099 34.7304 39.6099 37.1702 37.1702C39.6099 34.7305 39.6099 30.7749 37.1702 28.3351L28.3351 19.5L37.1702 10.665C39.6099 8.2252 39.6099 4.26959 37.1702 1.82982C34.7304 -0.609941 30.7749 -0.609941 28.3351 1.82982L19.5001 10.6649L10.6649 1.82982C8.22519 -0.609941 4.26958 -0.609941 1.82982 1.82982Z" fill="#5BD6D2" />
        </svg>
      </button>

        <div class="forms">
          <form action="#" class="form form--register">
            <div class="form__row">
              <div class="form__content">
                <div class="form__title">
                  sign UP
                </div>
                <div class="application__item">
                  <label class="application__item-label">E-Mail</label>
                  <div class="application-input">
                    <div class="application-input__req">
                     <img src="img/mail.svg" alt="">
                    </div>
                    <input type="email" name="email" required class="application-input__elem application-input__elem--req" placeholder="example@example.com">
                  </div>
                </div>
                <div class="application__item">
                  <label class="application__item-label">Password</label>
                  <div class="application-input">
                    <div class="application-input__req">
                     <img src="img/pass.svg" alt="">
                    </div>
                    <input type="Password" name="password" required class="application-input__elem application-input__elem--req" placeholder="Password">
                  </div>
                </div>
                <div class="application__item">
                  <label class="application__item-label">Confirm password</label>
                  <div class="application-input">
                    <div class="application-input__req">
                     <img src="img/pass.svg" alt="">
                    </div>
                    <input type="Password" name="password" required class="application-input__elem application-input__elem--req" placeholder="Confirm password">
                  </div>
                </div>
                <button type="submit" class="button button--gradient form__button">
                  sign up
                </button>
                <div class="form__switch">
                  ALREADY HAVE AN ACCOUNT? <span>log in!</span>
                </div>
              </div>
              <div class="form__side" style="background-image: url(img/login_bg.jpg);">
                <div class="form__image-container">
                  <img src="img/logarrow.svg" alt="">
                </div>
              </div>

            </div>
          </form>
          <form action="#" class="form form--login">
            <div class="form__row">
              <div class="form__side" style="background-image: url(img/reg_bg.jpg);">
                <div class="form__image-container">
                  <img src="img/regarrow.svg" alt="">
                </div>
              </div>
              <div class="form__content">
                <div class="form__title">
                  log in
                </div>
                <div class="application__item">
                  <label class="application__item-label">E-Mail</label>
                  <div class="application-input">
                    <div class="application-input__req">
                     <img src="img/mail.svg" alt="">
                    </div>
                    <input type="email" name="email" required class="application-input__elem application-input__elem--req" placeholder="example@example.com">
                  </div>
                </div>
                <div class="application__item">
                  <label class="application__item-label">Password</label>
                  <div class="application-input">
                    <div class="application-input__req">
                     <img src="img/pass.svg" alt="">
                    </div>
                    <input type="Password" name="password" required class="application-input__elem application-input__elem--req" placeholder="Password">
                  </div>
                </div>

                <button type="submit" class="button button--gradient-green form__button">
                  sign up
                </button>
                <div class="form__switch">
                  don’t HAVE AN ACCOUNT? <span>sign up!</span>
                </div>
              </div>


            </div>
          </form>
        </div>

    </div>
  </div>
</div>

