<footer class="footer">
  <div class="container">
    <div class="footer__row">
      <div class="footer__logo">
        <img src="img/logo_footer.svg" alt="">
      </div>
      <div class="footer__right">
        <div class="footer__item">
          <div>
            <div class="footer__title">
              Company
            </div>
            <ul class="footer__menu">
              <li class="footer__menu-item"><a href="" class="footer__link">About us</a></li>
              <li class="footer__menu-item"><a href="" class="footer__link">Products</a></li>
              <li class="footer__menu-item"><a href="" class="footer__link">Locations</a></li>
              <li class="footer__menu-item"><a href="" class="footer__link">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="footer__item">
          <div>
            <div class="footer__title">
              Legal
            </div>
            <ul class="footer__menu">
              <li class="footer__menu-item"><a href="" class="footer__link">Terms & conditions</a></li>
              <li class="footer__menu-item"><a href="" class="footer__link">Privacy Policy</a></li>

            </ul>
          </div>
        </div>
        <div class="footer__item footer__item--contacts">
          <div>
            <div class="footer__title">
              Contacts
            </div>
            <ul class="footer__menu">
              <li class="footer__menu-item">
                <span class="footer__link">
                  <svg class="">
                    <use xlink:href="img/sprite.svg#location"></use>
                  </svg>
                  Limpopo, Seshego, 239 Nelson Mandela Drive
                </span>
              </li>
              <li class="footer__menu-item">
                <a href="tel: +270834696989" class="footer__link">
                  <svg class="">
                    <use xlink:href="img/sprite.svg#phone"></use>
                  </svg>
                  +27 083 46 96 989
                </a>
              </li>
              <li class="footer__menu-item">
                <a href="tel: +270837242162" class="footer__link">
                  <svg class="">
                    <use xlink:href="img/sprite.svg#phone"></use>
                  </svg>
                  +27 083 72 42 162
                </a>
              </li>
            </ul>
          </div>

          <div class="social footer__social">
            <ul class="social__row">
              <li class="social__item"><a href="#" class="social__link">
                <svg class="">
                  <use xlink:href="img/sprite.svg#facebook"></use>
                </svg>
              </a></li>
              <li class="social__item"><a href="#" class="social__link">
                <svg class="">
                  <use xlink:href="img/sprite.svg#inst"></use>
                </svg>
              </a></li>
              <li class="social__item"><a href="#" class="social__link">
                <svg class="">
                  <use xlink:href="img/sprite.svg#twitter"></use>
                </svg>
              </a></li>
              <li class="social__item"><a href="#" class="social__link">
                <svg class="">
                  <use xlink:href="img/sprite.svg#teleg"></use>
                </svg>
              </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
