// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
.burger{
  @include burger();
}
// тестовые стили, удалите их
// .page__body {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: var(--vh);
// }
.page__body{
  padding-top: 210px;
  @include tablet(){
    padding-top: 0;
  }
}
.banner{
  margin-bottom: 75px;
  &--hero{
    @include tablet(){
      .banner-item{
        padding-top: 110px;
      }
      .container{
        padding: 0;
      }
    }
  }
  @include tablet(){
    margin-bottom: 25px;
  }
  &--margin-top{
    margin-top: 75px;
    @include tablet(){
      margin-top: 50px;
      .container{
        padding: 0;
      }
    }
  }
  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 50px;
    @include tablet(){
      bottom: 15px;
    }
  }
  .swiper-pagination-bullet{
    height: 15px;
    width: 15px;
    margin: 0 3.5px;
    opacity: 1;
    background-color: #fff;
    transition: .3s;
    &.swiper-pagination-bullet-active{
      background-color: #ea79ed;
    }
    @include tablet(){
      height: 5px;
      width: 5px;
      margin: 0 2px;
    }
  }
  &__swiper{
    overflow: visible;
  }
  .swiper-slide{
    transition: .3s;
  }
  .swiper-slide:not(.swiper-slide-active){
    opacity: 0;
  }
}
.banner-item{
  padding: 123px 77px;
  border-radius: 60px;
  box-shadow: 0 11px 25px 0 rgba(0, 0, 0, 0.1), 0 45px 45px 0 rgba(0, 0, 0, 0.09), 0 102px 61px 0 rgba(0, 0, 0, 0.05), 0 181px 72px 0 rgba(0, 0, 0, 0.01), 0 282px 79px 0 rgba(0, 0, 0, 0);
  background-repeat: no-repeat;

  @include big-desktop(){
    padding: 100px 50px;
    background-size: contain;
  }

  @include tablet(){
    padding: 60px 20px;
    border-radius: 0;
    background-size: 80%, cover;
  }
  &__content{
    position: relative;
    z-index: 10;
    max-width: 950px;
    @include big-desktop(){
      max-width: 50%;
    }
    @include tablet(){
      max-width: 60%;
    }
    @include for-360(){
      max-width: 260px;
    }
    &--right{
      margin-left: auto;
      max-width: 610px;
      @include tablet(){
        max-width: 45%;
      }
      @include for-360(){
        max-width: 180px;
      }
    }
  }

  &__pretitle{
    font-family: "Bebas Neue", sans-serif;
    font-size: 12px;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #1c2120;
    margin-left: 6px;
    margin-bottom: -6px;
    @include tablet(){
      font-size: 9px;
      letter-spacing: 0.23em;
      margin-left: 0;
      margin-bottom: 0;
    }
  }
  &__title{
    font-weight: 900;
    font-size: 96px;
    line-height: 125%;
    text-transform: uppercase;
    color: #1c2120;
    @include big-desktop(){
      font-size: 60px;
    }
    @include tablet(){
      font-size: 26px;
      line-height: 129%;
    }
    span{
      color: #faf6f5;
      position: relative;
      display: inline-flex;
      z-index: 10;
      &:before{
        content: '';
        position: absolute;
        left: -4%;
        top: -5px;
        height: 107%;
        width: 106%;
        background: #5bd6d2;
        transform: rotate(-2deg);
        z-index: -1;
        border-radius: 20px;
        @include tablet(){
          border-radius: 5px;
        }
      }
    }
  }
  &__desc{
    margin-top: 16px;
    font-weight: 400;
    font-size: 32px;
    color: #1c2120;
    @include big-desktop(){
      font-size: 16px;
      margin-top: 8px;
    }
    @include tablet(){
      font-size: 12px;
    }
  }
  &__buttons{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 73px;
    @include big-desktop(){
      margin-top: 25px;
    }
    @include tablet(){
      gap: 7px;
      margin-top: 13px;
      align-items: stretch;
    }

  }
  &__link{
    font-weight: 500;
    font-size: 32px;
    line-height: 175%;
    color: #1c2120;
    transition: .3s;
    @include big-desktop(){
      font-size: 16px;
    }
    @include tablet(){
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #1c2120;
      border-radius: 5px;
      padding: 5px 15px;
      font-weight: 500;
      font-size: 12px;
      line-height: 130%;
      text-transform: uppercase;
      color: #1c2120;

    }
    @include hover{
      color: #ea79ed;
    }
  }
  &__button{
    max-width: 353px;
    width: 100%;
    text-align: center;
    justify-content: center;
    @include big-desktop(){
      max-width: max-content;
    }
  }
}
.section-head{
  display: flex;
  justify-content: space-between;
  &--big-margin{
    margin-bottom: 50px;
    @include tablet(){
      margin-bottom: 25px;
    }
  }
  &--lit-margin{
    margin-bottom: 25px;
  }

  &__pretitle{
    font-family: "Bebas Neue", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    color: #5bd6d2;
    margin-bottom: 9px;
    @include big-desktop(){
      font-size: 26px;
    }
    @include tablet(){
      font-weight: 900;
      font-size: 24px;
      line-height: 208%;
      text-transform: uppercase;
      color: #5bd6d2;
      margin-bottom: 0;
      font-family: inherit;
      margin-right: 3px;
      display: inline;
    }
    &--white{
      color: #fff;
    }
    // margin-bottom: 10px;
  }
  &__title{
    font-weight: 900;
    font-size: 48px;
    line-height: 104%;
    color: #1c2120;
    margin: 0;
    @include big-desktop(){
      font-size: 40px;
    }
    @include tablet(){
      font-weight: 900;
      font-size: 24px;
      line-height: 208%;
      text-transform: uppercase;
      display: inline;

    }
  }
  &__search{
    @include tablet(){
      display: none;
    }
  }
}
.section-footer{
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  @include tablet(){
    justify-content: center;
    margin-top: 25px;
  }
  &__link{
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 38px;
    line-height: 132%;
    color: #1c2120;
    @include big-desktop(){
      font-size: 20px;
    }
    @include tablet(){
      font-size: 18px;
    }

  }
  &__icon{
    margin-left: 20px;
    stroke: #1c2120;
    width: 30px;
    flex-shrink: 0;
    height: 21px;
    stroke-width: 7px;
    fill: none;
    stroke-linecap: round;
    @include big-desktop(){
      stroke-width: 5px;
      height: 16px;
      width: 25px;
      margin-left: 10px;
    }
    @include tablet(){
      stroke-width: 3px;
    }
  }
}
.choose{
  &__row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    @include tablet(){
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
  }
  &-item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 26px 51px;
    box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.1), 0 32px 32px 0 rgba(0, 0, 0, 0.09), 0 72px 43px 0 rgba(0, 0, 0, 0.05), 0 127px 50px 0 rgba(0, 0, 0, 0.01), 0 198px 55px 0 rgba(0, 0, 0, 0);
    background: #fff;
    border-radius: 42px;
    @include big-desktop(){
      padding: 50px 20px;
    }
    @include tablet(){
      padding: 35px;
      border-radius: 20px;
    }
    &::after{
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      // background-size: contain;
      background-repeat: no-repeat;
      border-radius: 42px;
      top: 0;
      left: 0;
      @include tablet(){
        border-radius: 20px;
      }
    }
    &:first-child{
      &:after{
        background-image: url(../img/choose/1after.svg);
        background-position: bottom right;
        @include tablet(){
          background-image: url(../img/choose/1aftermob.svg);
          background-position: inherit;
        }
      }
    }
    &:nth-child(2){
      &:after{
        background-image: url(../img/choose/2after.svg);
        background-position: bottom left;
        @include tablet(){
          background-image: url(../img/choose/2aftermob.svg);
          background-position: inherit;
        }
      }
    }
    &:nth-child(3){
      &:after{
        background-image: url(../img/choose/3after.svg);
        // background-position: bottom left;
        @include tablet(){
          background-image: url(../img/choose/3aftermob.svg);

        }
      }
    }
    &:nth-child(4){
      &:after{
        background-image: url(../img/choose/4after.svg);
        // background-position: bottom left;
        @include tablet(){
          background-image: url(../img/choose/4aftermob.svg);
            background-position: bottom right;
        }
      }
    }
    &:nth-child(2n){
      .choose-item__desc span{
        color: #5bd6d2;
      }
    }
    &__icon{
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 182px;
      margin-bottom: 52px;
      @include big-desktop(){
        height: 120px;
        margin-bottom: 25px;
      }
      @include tablet(){
        height: 95px;
        margin-bottom: 25px;
      }
      img{
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__desc{
      font-weight: 500;
      font-size: 34px;
      line-height: 120%;
      text-align: center;
      color: rgba(28, 33, 32, 0.75);
      @include big-desktop(){
        font-size: 20px;
      }
      @include tablet(){
        font-size: 14px;
        line-height: 120%;
      }
      span{
        display: block;
        font-weight: 900;
        font-size: 42px;
        text-transform: uppercase;
        color: #ea79ed;
        margin-top: 8px;
        @include big-desktop(){
          font-size: 24px;
        }
        @include tablet(){
          font-size: 18px;
        }
      }
    }
  }
}
.about{
  padding: 75px 0;
  &__content{
    box-shadow: 0 11px 25px 0 rgba(0, 0, 0, 0.1), 0 45px 45px 0 rgba(0, 0, 0, 0.09), 0 102px 61px 0 rgba(0, 0, 0, 0.05), 0 181px 72px 0 rgba(0, 0, 0, 0.01), 0 282px 79px 0 rgba(0, 0, 0, 0);
    background: #fff;
    border-radius: 50px;
    padding: 100px 50px 98px 50px;
    @include tablet(){
      padding: 20px;
      border-radius: 20px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 12px 12px 0 rgba(0, 0, 0, 0.09), 0 26px 16px 0 rgba(0, 0, 0, 0.05), 0 46px 18px 0 rgba(0, 0, 0, 0.01), 0 72px 20px 0 rgba(0, 0, 0, 0);
    }
  }
  &__row{
    display: flex;
    @include tablet(){
      flex-direction: column;
      position: relative;
    }

  }
  &__desc{
    font-weight: 400;
    font-size: 32px;
    line-height: normal;
    color: #1c2120;
    @include big-desktop(){
      font-size: 16px;
    }
    @include mobile(){
      font-size: 12px;
    }
    p{
      margin: 0;
    }
  }
  &__gallery{
    max-width: 637px;
    flex-shrink: 0;
    margin-left: 135px;
    padding-top: 54px;
    @include big-desktop(){
      max-width: 50%;
      margin-left: 30px;
    }
    @include tablet(){
      margin-left: 0;
      max-width: 100%;
      width: 100%;
      margin-left: 0;
      padding-top: 0;
      margin-top: 15px;
    }
  }
  &__button{
    display: inline-flex;
    margin-top: 20px;
    padding: 20px 62px;

    &-icon{
      display: none;
      @include tablet(){
        display: block;
        width: 10px;
        height: 15px;
        stroke-linecap: round;
        stroke: #fff;
        stroke-width: 4px;
        fill: none;
        margin-left: 10px;
      }
    }
    @include tablet(){
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 0;
      font-weight: 500;
      padding: 13px 15px;
      display: flex;
      justify-content: space-between;
    }
  }
  .section-head{
    @include tablet(){
      padding-right: 130px;
    }
  }
}
.gallery{
  &__row{
    display: flex;
    flex-wrap: wrap;
    margin: -12.5px;
    @include tablet(){
      margin: -5px;
    }
  }
  &__item-container{
    padding: 12.5px;
    box-sizing: border-box;
    width: 50%;
    @include tablet(){
      padding: 5px;
    }
    .gallery-item{
      height: 373px;
      @include big-desktop(){
        height: 250px;
      }
      @include mobile(){
        height: 175px;
      }
    }
    &--w100{
      width: 100%;
      .gallery-item{
        height: 357px;
        @include big-desktop(){
          height: 230px;
        }
        @include mobile(){
          height: 195px;
        }
      }
    }
  }
  &-item{
    display: block;
    border-radius: 50px;
    @include tablet(){
      border-radius: 20px;
    }
    img{
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 50px;
      box-shadow: 0 11px 25px 0 rgba(0, 0, 0, 0.1), 0 45px 45px 0 rgba(0, 0, 0, 0.09), 0 102px 61px 0 rgba(0, 0, 0, 0.05), 0 181px 72px 0 rgba(0, 0, 0, 0.01), 0 282px 79px 0 rgba(0, 0, 0, 0);
      @include tablet(){
        border-radius: 20px;
      }
    }
  }
}
.search{
  &__form{
    position: relative;
  }
  &__input{
    position: relative;
    z-index: 50;
    border-radius: 84px;
    padding: 0px 0px 0px 40px;
    width: 520px;
    height: 70px;
    background: #fff;
    border: none;
    outline: none;
    padding: 0 150px 0   75px;
    box-sizing: border-box;
  }
  &__icon{
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    z-index: 60;
    pointer-events: none;
    line-height: 0;
  }
  &__button{
    background: #ea79ed;
    font-size: 24px;
    line-height: 208%;
    color: #1c2120;
    border-radius: 84px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 50;
    outline: none;
    border: none;
    padding: 0 30px;
    cursor: pointer;
  }
}
.catalog{
  &__section-footer{
    @include tablet(){
      display: none;
    }
  }
  &__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24.5px;
    @include tablet(){
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
  }
}
.catalog-item{
  position: relative;
  border-radius: 60px;
  box-shadow: 0 11px 25px 0 rgba(0, 0, 0, 0.1), 0 45px 45px 0 rgba(0, 0, 0, 0.09), 0 102px 61px 0 rgba(0, 0, 0, 0.05), 0 181px 72px 0 rgba(0, 0, 0, 0.01), 0 282px 79px 0 rgba(0, 0, 0, 0);
  background: #fff;

  @include tablet(){
    border-radius: 20px;

  }
  .catalog-item__icon-in-cart{
    display: none;
  }
  &.in-cart{
    .catalog-item__icon-in-cart{
      display: block;
    }
    .catalog-item__icon-cart{
      display: none;
    }
    .catalog-item__button{
      background-color: #5BD6D2;
    }
  }
    &__price{
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 60px 0 60px 0;
      padding: 12px 35px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #5bd6d2;
      @include tablet(){
        border-radius: 20px 0 20px  0;
        padding: 8px 23px;
      }
      &-value{
        font-weight: 900;
        font-size: 42px;
        line-height: 119%;
        color: #1c2120;
        @include tablet(){
          font-size: 26px;
          line-height: 119%;
        }
      }
      &-label{
        font-weight: 300;
        font-size: 12px;
        line-height: 1;
        color: #1c2120;
        @include tablet(){
          font-size: 8px;
          margin-top: -3px;
        }
      }
    }
    &__body{
      padding: 44px 35px 20px;
      box-sizing: border-box;
      @include tablet(){
        padding: 16px 6px 8px;
      }
    }
    &__image{
      height: 324px;
      display: flex;
      align-items: center;
      justify-content: center;
      picture{
        height: 100%;
      }
      @include big-desktop(){
        height: 250px;
      }
      @include tablet(){
        height: 134px;
      }
      img{
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__list{

      list-style: none;
      padding: 0;
      margin: 93px 0 0 0;
      display: flex;
      flex-wrap: wrap;
      gap: 10px 23px;
      @include big-desktop(){
        margin-top: 40px;
      }
      @include tablet(){
        margin-top: 15px;
        gap: 5px;
        justify-content: space-between;
      }
    }
    &__option{
      border-radius: 325px;
      padding: 0px 27px;
      background: #5bd6d2;
      font-weight: 500;
      font-size: 24px;
      line-height: 208%;
      text-align: center;
      color: #1c2120;
      @include big-desktop(){
        font-size: 16px;
      }
      @include tablet(){
        padding: 5px;
        font-size: 12px;
        line-height: 1;
        border-radius: 20px;
      }
    }
    &__footer{
      display: flex;
      border-radius: 0 0 60px 60px;
      position: relative;
      overflow: hidden;
      @include tablet(){
        border-radius: 0 0 20px 20px;
      }
    }
    &__name{
      width: 100%;
      padding: 12px 0px;
      background: #eafc70;
      font-weight: 900;
      font-size: 36px;
      line-height: 139%;
      text-align: center;
      color: #1c2120;
      min-height: 104px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      @include big-desktop(){
        font-size: 24px;
        min-height: 80px;
      }
      @include tablet(){
        min-height: 40px;
        font-size: 14px;
        line-height: 137%;
        padding: 5px;
      }
    }
    &__button{
      display: flex;
      width: 104px;
      background-color: #ea79ed;
      align-items: center;
      justify-content: center;
      outline: none;
      border: none;
      cursor: pointer;
      flex-shrink: 0;
      @include big-desktop(){
        width: 80px;
      }
      svg{
        width: 36px;
        height: 36px;
        fill: #1c2120;
        @include big-desktop(){
          height: 24px;
          width: 24px;
        }
        @include tablet(){
          height: 18px;
          width: 18px;
        }
      }
      @include tablet(){
        width: 40px;
      }

    }

}
.reviews{
  padding: 50px 0;
  background: linear-gradient(180deg, rgba(234, 252, 112, 0) 0%, #eafc70 100%);
  @include tablet(){
    padding: 25px 0;
  }
  .section-head{
    @include tablet(){
      justify-content: center;
        .section-head__pretitle{
          display: none;
        }
        .section-head__title{
          span{
            color: #5bd6d2;
          }
        }
    }
  }
  &-item{
    border-radius: 25px;
    padding: 15px 25px;
    background-color: #fff;
    @include tablet(){
      border-radius: 20px;
      padding: 15px 20px;
    }
    &__rating{
      margin-bottom: 16px;
      @include tablet(){
        margin-bottom: 10px;
      }
    }
    &__title{
      font-weight: 700;
      font-size: 32px;
      color: #ea79ed;
      margin-bottom: 6px;
      @include big-desktop(){
        font-size: 24px;
      }
      @include mobile(){
        font-size: 18px;
      }
    }
    &__text{
      font-weight: 400;
      font-size: 18px;
      color: #1c2120;
      line-height: normal;
      @include big-desktop(){
        font-size: 16px;
      }
      @include mobile(){
        font-size: 12px;
      }
    }
    &__footer{
      display: flex;
      align-items: center;
      margin-top: 16px;
      @include tablet(){
        margin-top: 10px;
      }
    }
    &__avatar{
      border-radius: 50%;
      width: 84px;
      height: 84px;
      margin-right: 25px;
      flex-shrink: 0;
      @include big-desktop(){
        height: 60px;
        width: 60px;
      }
      @include mobile(){
        width: 46px;
        height: 46px;
        margin-right: 20px;
      }
    }
    &__name{
      font-weight: 500;
      font-size: 28px;
      line-height: 110%;
      color: #1c2120;
      @include big-desktop(){
        font-size: 20px;
      }
      @include mobile(){
        font-size: 12px;
        line-height: 110%;
      }
    }
  }
  .swiper-pagination{
    position: relative;
    margin-top: 50px;
    @include tablet(){
      display: none;
    }
    .swiper-pagination-bullet{
      border: 2px solid #ea79ed;
      border-radius: 5px;
      width: 10px;
      height: 10px;
      background-color: transparent;
      transition: .3s;
      box-sizing: border-box;
      margin: 0 12px;
      opacity: 1;
      &.swiper-pagination-bullet-active{
        background-color: #ea79ed;
      }

    }
  }
  .swiper-wrapper{
    @include tablet(){
      transform: none;
      flex-direction: column;
    }
    .swiper-slide + .swiper-slide{
      @include tablet(){
        margin-top: 20px;
      }

    }
    .swiper-slide:nth-child(n + 4){
      @include tablet(){
       display: none;
      }
     }
     .swiper-pagination{
      @include tablet(){
        display: none;
      }
     }
  }
}
.rating{
  &__row{
    display: flex;
    gap:5px
  }
  &[data-rating='5']{
    svg{
      fill: #eafc70;
    }
  }
  &[data-rating='4']{
    svg{
      &:not(:last-child){
        fill: #eafc70;
      }
    }
  }
  &[data-rating='4']{
    svg{
      &:not(:last-child){
        fill: #eafc70;
      }
    }
  }
  &[data-rating='3']{
    svg{
      &:nth-child(-n+3) {
        fill: #eafc70;
      }
    }
  }
  &[data-rating='2']{
    svg{
      &:nth-child(-n+2) {
        fill: #eafc70;
      }
    }
  }
  &[data-rating='1']{
    svg{
      &:first-child {
        fill: #eafc70;
      }
    }
  }

  svg{
    width: 42px;
    height: 38px;
    @include big-desktop(){
      width: 30px;
      height: 26px;
    }
    @include tablet(){
      height: 20px;
      width: 20px;
    }
    @include mobile(){
      height: 15px;
      width: 15px;
    }
  }

}
.where{
  padding: 75px 0;
  @include tablet(){
    padding: 25px 0;
  }
  &__swiper{
    overflow: visible;
  }
  .container{
    @include tablet(){
      padding: 0;
    }
  }
  &__arrow{
    width: 20px;
    height: 40px;
    stroke: #EA79ED;
    stroke-width: 7px;
    stroke-linecap: round;
    fill: none;
    @include tablet(){
      width: 20px;
      height: 20px;
      stroke-width: 3px;
    }
    @include small-mobile(){
      display: none;
    }
    &.swiper-button-next{
      right: 20px;
    }
    &.swiper-button-disabled{
      opacity: 0;
    }

    &.swiper-button-prev{
      @include tablet(){
        left: 0;
      }
      svg{
        transform: rotate(180deg);
        stroke: #fff;
      }
    }
    &:after{
      display: none;

    }
  }
  .swiper-pagination{
    display: none;
    @include small-tablet(){
      display: flex;
      justify-content: center;
    }
    .swiper-pagination-bullet{
      height: 15px;
      width: 15px;
      margin: 0 3.5px;
      opacity: 1;
      background-color: #fff;
      transition: .3s;
      &.swiper-pagination-bullet-active{
        background-color: #ea79ed;
      }
      @include tablet(){
        height: 5px;
        width: 5px;
        margin: 0 2px;
      }
    }
  }
}
.where-item{
  position: relative;
  border-radius: 60px;
  padding: 75px 50px 75px 80px;

  @include big-desktop(){
    padding: 50px;
  }
  @include tablet(){
    border-radius: 0;
    padding: 25px 20px;
  }
  @include small-mobile(){
    display: flex;
    flex-direction: column;
  }
  .section-head{
    @include tablet(){
      margin-bottom: 15px;
    }
  }
  .section-head__pretitle{
    @include tablet(){
      display: block;
      margin-bottom: -10px;
    }
  }
    box-shadow: 0 11px 25px 0 rgba(0, 0, 0, 0.1), 0 45px 45px 0 rgba(0, 0, 0, 0.09), 0 102px 61px 0 rgba(0, 0, 0, 0.05), 0 181px 72px 0 rgba(0, 0, 0, 0.01), 0 282px 79px 0 rgba(0, 0, 0, 0);
    background: #ea79ed;
    &__content{
      max-width: 535px;
      width: 100%;
      @include big-desktop(){
        max-width: 398px;
      }
      @include tablet(){
        max-width: 230px;
      }
      @include small-mobile(){
        max-width: 100%;
        margin-bottom: 20px;
      }
    }
    &:after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 32.3%;
      height: 100%;
      background-color: #fff;
      border-radius: 0 60px 60px 0;
      @include tablet(){
        border-radius: 0 20px 20px 0;
      }
      @include small-mobile(){
        height: 260px;
        width: 100%;
        bottom: 0;
        left: 0;
        top: auto;
        border-radius: 0;
      }
    }
    &__button{
      display: inline-flex;
      margin-top: 50px;
      border-radius: 20px;
      padding: 20px 53px;
      border: none;
      outline: none;
      background: #fff;
      font-weight: 500;
      font-size: 38px;
      line-height: 148%;
      text-transform: uppercase;
      color: #ea79ed;
      cursor: pointer;
      @include big-desktop(){
        font-size: 18px;
      }
      @include tablet(){
        margin-top: 25px;
        font-size: 12px;
        border-radius: 5px;
        padding: 5px 10px;
      }
      @include small-mobile(){
        margin: 15px auto 0;
        display: block;
        max-width: 100px;
      }
    }
    &__map{
      z-index: 50;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 120px;
      height: 520px;
      width:calc(100% - 805px);
      box-shadow: 0 11px 25px 0 rgba(0, 0, 0, 0.1), 0 45px 45px 0 rgba(0, 0, 0, 0.09), 0 102px 61px 0 rgba(0, 0, 0, 0.05), 0 181px 72px 0 rgba(0, 0, 0, 0.01), 0 282px 79px 0 rgba(0, 0, 0, 0);
      @include big-desktop(){
        width: calc(100% - 600px);
        height: 400px;
      }
      @include tablet(){
        width: calc(100% - 320px);
        right: 55px;
        height: 260px;
      }

      box-sizing: border-box;
      border-radius: 25px;
      padding: 2px;
      @include small-mobile(){
        position: relative;
        height: 316px;
        transform: none;
        right: inherit;
        width: 100%;
      }
      &:after{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;

        z-index: 10;
        top: 0;
        left: 0;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='25' ry='25' stroke='white' stroke-width='5' stroke-dasharray='6%2c 14' stroke-dashoffset='26' stroke-linecap='round'/%3e%3c/svg%3e");
        border-radius: 25px;
        pointer-events: none;
      }
      &--js{
        height: 100%;
        width: 100%;
        border-radius: 25px;
      }
    }
}
.contacts{
  &__list{
    padding: 0;
    margin: 0;
    list-style: none;
    @include small-mobile(){
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  &__item + &__item{
    margin-top: 15px;
    @include small-mobile(){
      margin-top: 10px;
    }
  }
  &__info{
    display: flex;
    align-items: center;
    font-size: 32px;
    line-height: 156%;
    color: #fff;
    @include big-desktop(){
      font-size: 18px;
    }
    @include tablet(){
      font-size: 12px;
    }
    svg{
      height: 50px;
      width: 50px;
      flex-shrink: 0;
      margin-right: 15px;
      fill: #fff;
      @include big-desktop(){
        height: 30px;
        width: 30px;
      }
      @include tablet(){
        height: 29px;
        width: 29px;
        margin-right: 10px;
      }
    }
  }
}

.blog{
  background: linear-gradient(180deg, rgba(91, 214, 210, 0) 0%, #5bd6d2 100%);
  padding: 50px 0;
  @include small-tablet(){
    padding: 25px 0;
  }
  .section-head{
    @include tablet(){
      .section-head__pretitle{
        display: none;
      }
      .section-head__title span{
        color: #5bd6d2;
      }
    }
  }
  &__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    @include small-tablet(){
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

  }
  &-item{
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0 11px 25px 0 rgba(0, 0, 0, 0.1), 0 45px 45px 0 rgba(0, 0, 0, 0.09), 0 102px 61px 0 rgba(0, 0, 0, 0.05), 0 181px 72px 0 rgba(0, 0, 0, 0.01), 0 282px 79px 0 rgba(0, 0, 0, 0);
    border-radius: 75px;
    padding: 50px 50px 20px 50px;
    @include small-tablet(){
      border-radius: 20px;
      padding: 25px;
    }
    &:after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(180deg, rgba(28, 33, 32, 0) 0%, #1c2120 100%);
      pointer-events: none;
      z-index: 50;
      border-radius: 75px;
      @include small-tablet(){
        border-radius: 20px;
      }
    }
    &--big{
      grid-area: 1 / 1 / 3 / 2;
      height: 984px;
      @include big-desktop(){
        height: 700px;
      }
      @include small-tablet(){
        height: 490px;
      }
    }
    &--lit-1{
      grid-area: 1 / 2 / 2 / 3;
      @include small-tablet(){
        height: 170px;
      }
    }
    &--lit-2{
      grid-area: 2 / 2 / 3 / 3;
      @include small-tablet(){
        height: 170px;
      }
    }
    &__picture{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      img{
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 75px;
        @include small-tablet(){
          border-radius: 20px;
        }
      }
    }
    &__title{
      position: relative;
      z-index: 100;
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: #fff;
      align-items: center;
      span{
        max-width: 65%;
      }
      &--big{
        font-weight: 900;
        font-size: 48px;
        line-height: 104%;
        color: #fff;
        @include big-desktop(){
          font-size: 30px;

        }
        @include small-tablet(){
          font-size: 18px;
        }
      }
      &--lit{
        font-weight: 400;
        font-size: 32px;
        color: #fff;
        @include big-desktop(){
          font-size: 24px;
        }
        @include small-tablet(){
          font-size: 16px;
        }
      }
      svg{
        width: 20px;
        height: 40px;
        stroke-width: 7px;
        stroke-linecap: round;
        stroke: #fff;
        @include big-desktop(){
          width: 15px;
          height: 35px;
          stroke-width: 5px;
        }
        @include small-tablet(){
          stroke-width: 3px;
        }
      }
    }
  }
}

.faq{
  padding: 75px 0;
  background: #faf6f5;
  @include tablet(){
    padding: 25px 0;
  }
  &__grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    @include big-desktop(){
      gap: 25px;
    }
    @include tablet(){
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
  &-item{
    border-radius: 20px;
    position: relative;
    & + &{
      margin-top: 50px;
      @include big-desktop(){
        margin-top: 25px;
      }
      @include tablet(){
        margin-top: 15px;
      }
    }
    &__head{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 20px;
      padding: 22px 33px;
      font-weight: 900;
      font-size: 38px;
      line-height: 148%;
      text-transform: uppercase;
      color: #1c2120;
      transition: .3s;
      border-radius: 20px;
      background-color: #fff;
      @include big-desktop(){
        font-size: 28px;
      }
      @include tablet(){
        font-size: 18px;
        line-height: 312%;
        padding: 0 25px 0 40px;
      }
      cursor: pointer;
      span{
        z-index: 50;
      }
      box-shadow: 0 11px 25px 0 rgba(0, 0, 0, 0.1), 0 45px 45px 0 rgba(0, 0, 0, 0.09), 0 102px 61px 0 rgba(0, 0, 0, 0.05), 0 181px 72px 0 rgba(0, 0, 0, 0.01), 0 282px 79px 0 rgba(0, 0, 0, 0);
      svg{
        fill: none;
        stroke-width: 7px;
        stroke: #1C2120;
        stroke-linecap: round;
        width: 40px;
        height: 40px;
        flex-shrink: 0;
        margin-left: 40px;
        transition: .3s;
        @include tablet(){
          stroke-width: 3px;
          height: 15px;
          width: 15px;
          margin-left: 20px;
        }
      }
      &:before{
        position: absolute;
        left: -1px;
        top: 0;
        content: '';
        height: 100%;
        background: url(../img/faqbefore.svg) no-repeat left center;
        background-size: contain;
        width: 83px;
        border-radius: 20px 0 0 20px;
        pointer-events: none;
      }
    }
    &__body{
      margin: 0 63px;
      border-radius: 0 0 20px 20px;
      padding: 0 33px 0 33px;
      box-sizing: border-box;
      background: #eafc70;
      transition: .3s;
      max-height: 0;
      overflow: hidden;
      @include tablet(){
        margin: 0 35px;
        padding: 0 25px;
      }
      p{
        margin: 0;
        font-weight: 500;
        font-size: 18px;
        color: #1c2120;
      }
    }
    &__buttons{
      position: relative;
      z-index: 10;
      display: flex;
      gap: 22px;
      justify-content: center;
      align-items: center;
      margin-top: 22px;
      @include tablet(){
        margin-top: 10px;
      }
    }
    &__button{
      @include tablet(){
        font-size: 18px;
      }
    }
    &__link{
      font-weight: 500;
      font-size: 28px;
      line-height: 200%;
      text-transform: uppercase;
      color: #1c2120;
      @include tablet(){
        font-size: 18px;
        text-transform: uppercase;
      }
    }
    &.js-active{
      .faq-item__head{
        background: #5bd6d2;
        color: #Fff;
        svg{
          transform: rotate(180deg);
        }
      }
      .faq-item__body{
        padding: 35px 33px 22px 33px;
        max-height: 750px;
        overflow: auto;
        @include tablet(){
          padding: 16px 25px;
        }
      }

    }
  }
}
.social{
  &__row{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    @include tablet(){
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 14px;
    }
  }
  &__item + &__item{
    margin-left: 14px;
    @include tablet(){
      margin-left: 0;
    }
  }
  &__link{
    border-radius: 15px;
    width: 52px;
    height: 52px;
    background: #8e8e8e;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablet(){
      height: 40px;
      width: 40px;
    }
    svg{
      fill: #1c2120;
      width: 22px;
      height: 22px;
      @include tablet(){
        height: 16px;
        width: 16px;
      }
    }
  }
}
.footer{
  padding: 100px 0;
  background: #1c2120;
  @include tablet(){
    padding: 16px 0;
  }
  &__logo{
   @include tablet(){
    margin: 32px auto 0;
    width: 87px;
   }
  }
  &__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablet(){
      flex-direction: column-reverse;
    }
  }
  &__right{
    display: flex;
    align-items: flex-start;
    @include tablet(){
      width: 100%;
    }
  }
  &__item{
    &:not(.footer__item--contacts){
      @include tablet(){
        display: none;
      }
    }
    &--contacts{
      max-width: 366px;
      width: 100%;
      @include tablet(){
        max-width:100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }
  &__social{
    margin-top: 15px;
    @include tablet(){
      margin-top: 0;
      padding-top: 28px;
    }
  }
  &__item + &__item{
    margin-left: 100px;
    @include big-desktop(){
      margin-left: 35px;
    }
    @include tablet(){
      margin-left: 0;
    }
  }
  &__title{
    font-weight: 400;
    font-size: 24px;
    line-height: 167%;
    color: #faf6f5;
    margin-bottom: 20px;
    @include big-desktop(){
      font-size: 20px;
    }
    @include tablet(){
      font-size: 14px;
      line-height: 286%;
      margin-bottom: 7px;
    }
  }
  &__menu{
    list-style: none;
    padding: 0;
    margin: 0;
    @include tablet(){
      max-width: 190px;
    }
    &-item{
      & + &{
        margin-top: 20px;
        @include tablet(){
          margin-top: 7px;
        }
      }
    }
  }
  &__link{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 167%;
    color: #787878;
    @include big-desktop(){
      font-size: 18px;
    }
    @include tablet(){
      font-size: 12px;
    }
    svg{
      height: 27px;
      width: 27px;
      flex-shrink: 0;
      margin-right: 7px;
      fill: #8E8E8E;
    }
  }

}
.micromodal-slide[aria-hidden=false] .modal__overlay{
  z-index: 6000;
  backdrop-filter: blur(5px);
}
.checkbox{
  display: block;
  & + &{
    margin-top: 23px;
    @include tablet(){
      margin-top: 5px;
    }
  }
  cursor: pointer;
  input{
    display: none;
  }
  input:checked + .checkbox__wrap{
    .checkbox__icon{
      background-color: #5bd6d2
    }
  }
  &__wrap{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 32px;
    color: #1c2120;
    @include big-desktop(){
      font-size: 20px;
    }
    @include tablet(){
      font-size: 12px;
    }
  }
  &__icon{
    border: 2px solid #5bd6d2;
    border-radius: 7px;
    width: 33px;
    height: 33px;
    transition: .3s;
    margin-right: 7.5px;
    box-sizing: border-box;
    flex-shrink: 0;
    @include tablet(){
      height: 30px;
      width: 30px;
      margin-right: 15px;
    }
  }
}
.application {
  &__page{
    display: none;
    &.js-active{
      display: block;
    }
  }
  b{
    font-weight: 500;
  }
  &__medical{
    margin: 50px 0;
    @include tablet(){
      margin: 25px 0;
    }
  }
  .modal__close{
    position: absolute;
    right: 50px;
    top: 50px;
    z-index: 5;
    @include tablet(){
      top: 20px;
      right: 20px;
    }
  }
  &__pretitle{
    font-weight: 300;
    font-size: 22px;
    letter-spacing: -0.05em;
    color: #1c2120;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 35px;
    @include big-desktop(){
      font-size: 16px;

    }
    @include tablet(){
      font-size: 12px;
      letter-spacing: -0.05em;
      margin-bottom: 25px;
    }
  }
  position: relative;
  max-width: 1720px;
  padding: 50px;
  width: 100%;
  @include tablet(){
    padding: 20px;
    max-width: 96%;
  }
  &__sing-button{
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    background: #5bd6d2;
    border-radius: 15px;
    border: none;
    padding: 0 30px;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    margin-right: 25px;
    svg{
      fill: #fff;
      margin-right: 10px;
      width: 13px;
      height: 17px;
    }
    @include tablet(){
      font-size: 12px;
      border-radius: 5px;
      margin-right: 0;
      padding: 5px;
      box-sizing: border-box;
      height: 35px;
      justify-content: center;
    }
  }
  &__title{
    font-weight: 900;
    font-size: 48px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #1c2120;
    margin-bottom: 35px;
    @include big-desktop(){
      font-size: 40px;
    }
    @include tablet(){
      font-size: 24px;
      line-height: 208%;
      letter-spacing: 0.06em;
      margin-bottom: 10px;
    }
    &--center{
      text-align: center;
      @include tablet(){
        text-align: left;
      }
    }
  }
  &__allert{
    &--w60{
      max-width:873px;
      box-sizing: border-box;
      @include tablet(){
        margin-bottom: 10px;
      }
    }
    padding: 10px 25px;
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    border-radius: 15px;
    background: #ea79ed;
    font-weight: 400;
    font-size: 22px;
    line-height: normal;
    color: #fff;
    box-sizing: border-box;
    @include tablet(){
      font-size: 12px;
      padding: 10px 15px;
    }
    a{
      font-weight: 500;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: #fff;
    }
  }
  &__checkboxes-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 150px;
    @include tablet(){
      display: block;
    }
  }
  &__undetitle-row{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 35px;
    @include tablet(){
      flex-direction: column-reverse;
      margin-bottom: 25px;
    }
  }
  &__undetitle-left{
    width: max-content;
    margin-right: 10px;
  }
  &__synergy{
    margin: 45px 0 60px;
    display: flex;
    align-items: center;
    @include tablet(){
      margin: 25px 0;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
    }
    &-label{
      font-weight: 300;
      font-size: 32px;
      color: #1c2120;
      margin-right: 15px;
      @include big-desktop(){
        font-size: 20px;
      }
      @include tablet(){
        font-size: 12px;
        margin-bottom: 5px;
      }
    }
  }
  &__row{
    display: flex;
    flex-wrap: wrap;
    margin: -18px -25px;
    @include tablet(){
      margin: -5px -7.5px;
    }
  }
  &__item-container{
    padding: 18px 25px;
    box-sizing: border-box;
    @include tablet(){
      padding: 5px 7.5px;
    }
    .application-input{
      width: 100%;
    }
    &--w20{
      width: 20%;
      @include tablet(){
        width: 50%;
      }
    }
    &--w25{
      width: 25%;
      @include tablet(){
        width: 50%;
      }
    }
    &--w16{
      width: 15%;
      @include tablet(){
        width: 50%;
      }
    }
    &--w50{
      width: 50%;

    }
    &--w100{
      width: 100%;
    }
    &--mob-100{
      @include tablet(){
        width: 100%;
      }
    }
    &--mob-last{
     @include tablet(){
      width: 100%;
      order: 1;
     }
    }
  }
  &__item-label{
    font-weight: 500;
    font-size: 32px;
    line-height: normal;
    color: #1c2120;
    margin-bottom: 5px;
    display: block;
    @include big-desktop(){
      font-size: 24px;
    }
    @include tablet(){
      font-size: 12px;
    }
  }
  &__patient + &__patient{
    margin-top: 35px;
    @include tablet(){
      margin-top: 25px;
    }
  }
  &__subtitle{
    font-weight: 700;
    font-size: 42px;
    line-height: 119%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #1c2120;
    margin-bottom: 15px;
    @include big-desktop(){
      font-size: 35px;
    }
    @include tablet(){
      font-size: 22px;
    }
  }
  ul{

    margin: 0;
    @include tablet(){
      padding-left: 15px;
    }
  }
  &__text{
    font-size: 32px;
    color: #1c2120;
    line-height: normal;
    @include big-desktop(){
      font-size: 20px;
    }
    @include tablet(){
      font-size: 12px;
    }
    > *:first-child{
      margin-top: 0;
    }
    > *:last-child{
      margin-bottom: 0;
    }
    b{
      font-weight: 500;
    }
  }
  &__page-bottom{
    display: flex;
    justify-content: flex-end;
    gap: 35px;
    margin-top: 50px;
    @include tablet(){
      gap: 7px;
      justify-content: flex-start;
      margin-top: 25px;
    }
  }
  &__button{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
    color: #ea79ed;
    border: 2px solid #ea79ed;
    border-radius: 15px;
    padding: 15px 30px;
    background-color: transparent;
    outline: none;
    transition: .3s;
    cursor: pointer;
    @include big-desktop(){
      font-size: 24px;
    }
    @include tablet(){
      font-size: 12px;
      line-height: 130%;
      border-radius: 5px;
      padding: 10px;
    }
    @include hover(){
      opacity: .8;
    }
    svg{
      margin-left: 10px;
    }
    &--bordered{
      color: #ea79ed;
    }
    &--pink{
      background-color: #ea79ed;
      color: #fff;
    }
  }
  &__checkboxes-cointainer{
    .application-input{
      margin-top: 5px;
      width: 100%;

    }
  }
}
.application-bottom{
  margin-top: 50px;
  font-size: 32px;
  color: #1c2120;
  line-height: normal;
  @include big-desktop(){
    font-size: 20px;
  }
  @include tablet(){
    font-size: 12px;
    margin-top: 25px;
  }
  &__item{
    display: flex;
    // justify-content: space-between;
    @include tablet(){
      flex-direction: column;
    }
    &--row-beetwen{
      @include tablet(){
        flex-direction: row;
        justify-content: space-between;
      }
    }
    &--w40{
      @include tablet(){
        width:40%;
        min-width: 120px;
      }
    }
    &--w60{
      @include tablet(){
        width:60%;
      }
    }
    &--between{
      justify-content: space-between;
    }
    & + &{
      margin-top: 10px;
      @include tablet(){
        margin-top: 5px;
      }
    }
    &.application-bottom__item--w40,.application-bottom__item--w60{
      @include tablet(){
        margin-top: 0;
      }
    }
  }
  &__items{

    &--hide-mob{
      @include tablet(){
      display: none;
    }
    }
    &--flex{
      @include tablet(){
        display: flex;
        gap: 10px;
        .application-input{
          margin-top: auto;
        }
      }
    }
    &--mob{
      display: none;
      @include tablet(){
        display: block;
        .application-bottom__item{
          flex-direction: row;
        }
      }
    }
    & + &{
      margin-top: 35px;
      @include tablet(){
        margin-top: 25px;
      }
    }
  }
  &__right{
    width: 100%;
    display: flex;
    &--column-reverse{
      @include tablet(){
        display: flex;
        flex-direction: column-reverse;
      }
    }
    &--w-auto{
      width: auto;
    }
    span{
      margin: 0 10px 0 35px;
    }
  }
  &__date{
    @include tablet(){
      margin-bottom: 5px;
      margin-left: auto;
    }
  }
  &__label{
    min-width: 540px;
    flex-shrink: 0;
    margin-right: 25px;
    font-weight: 500;
    @include big-desktop(){
      min-width: 390px;
    }
    @include tablet(){
      min-width: inherit;
      margin-right: 0;
    }
  }
  &__dots{
    height: 48px;
    box-sizing: border-box;
    border-bottom: 2px dashed #1c2120;
    @include tablet(){
      height: 18px;
      margin-left: 10px;
    }
    &--w40{
      width: 40%;
    }
    &--w60{
      width: 60%;
    }
    &--w100{
      width: 100%;
    }

  }
  &--mob-row{
    @include tablet(){

      flex-direction: row;
      .application-bottom__right{
        display: flex;
        flex-direction: column;
      }
      .application__sing-button{
        min-width:140px;
      }
    }
  }
}
.application__form{

  background-color: #fff;
  border-radius: 20px;
  width: 100%;
  box-sizing: border-box;
      backdrop-filter: blur(5px);
}

.application-input{
  position: relative;
  display: inline-flex;
  vertical-align: bottom;
  &--w100{
    width: 100%;
  }
  &--w27{
    width: 27%;
    @include mobile(){
      width: 55%;
    }
  }
  &--w48{
    width: 48%;
    @include mobile(){
      width: 100%;
    }
  }
  &--w100{
    width: 100%;
  }
  &__req{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    height: 49px;
    width: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #5bd6d2;
    @include tablet(){
      height: 100%;
      width: 35px;
      border-radius: 5px;
    }
    svg{
      fill: #fff;
      height: 16px;
      width: 16px;

    }
  }
  &__elem{
    display: block;
    width: 100%;
    height: 49px;
    box-sizing: border-box;
    border: 2px solid #5bd6d2;
    border-radius: 15px;

    padding: 0 20px;
    @include big-desktop(){
      font-size: 20px;
    }
    @include tablet(){
      height: 35px;
      border-radius: 5px;
      font-size: 12px;
      padding: 0 10px;

    }
    outline: none;
    &--req{
      padding: 0 20px 0 60px;
      @include tablet(){
        padding: 0 10px 0 45px;
      }
    }
  }
}
.nice-select{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  float: none;
  height: 62px;
  line-height: 62px;
  background-color: #5BD6D2;
  border-radius: 15px;
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
  color: #fff;

  z-index: 50;
  @include big-desktop(){
    font-size: 20px;
  }
  @include tablet(){
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    border-radius: 5px;
  }
  &:after{
    position: static;
    margin-left: 10px;
    height: 10px;
    width: 10px;
    border-color: #fff;
  }
}
.nice-select-dropdown{
  color: #1C2120;
  width: 100%;
}
select{
  display: none;
}

.application-textarea{
  margin-bottom: 25px;
  &__elem{
    border: 2px solid #5bd6d2;
    border-radius: 50px;
    padding: 370px 35px 15px;
    height: 433px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    font-weight: 500;
    font-size: 24px;
    line-height: normal;
    letter-spacing: 0.06em;
    text-transform: lowercase;
    color: #000;
    @include tablet(){
      border-radius: 5px;
      height: 300px;
      font-size: 12px;
      padding: 260px 20px 0;
    }
  }
}

.login-form{
  max-width: 980px;
  padding: 0;
  width: 100%;
  .modal__close{
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: transparent;
    outline: none;
    border: none;
  }
}
.form{
  transition: .4s;
  width: 100%;
  flex-shrink: 0;
  &__row{
    display: flex;

  }
  &.js-hidden{
    display: none;
  }
  &__content{
    width: 50%;
    padding: 50px 30px;
    min-height: 687px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__side{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    cursor: pointer;
  }
  &__image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 344px;
    height: 344px;
    background-color: #fff;
  }
  &__title{
    font-weight: 900;
    font-size: 48px;
    line-height: 104%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #1c2120;
    margin-bottom: 35px;
  }
  .application-input, .application__item{
    width: 100%;
  }
  .application__item + .application__item{
    margin-top: 25px;
  }
  &__button{
    width: 100%;
    margin-top: 35px;
  }
  &__switch{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    text-transform: lowercase;
    color: #ea79ed;
    margin-top: 10px;
    cursor: pointer;
    span{
      color: #5bd6d2;
    }
  }
}

.forms{
  display: flex;
  overflow: hidden;
  &.js-active{
    .form--register{
      transform: translateX(-100%);
    }
    .form--login{
      transform: translateX(-100%);
    }
  }
}
